@use "../mixins";

.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

.textArea {
  resize: vertical;
  font-family: inherit;
}

.submit {
  margin: 16px 0;
}

.error {
  font-size: small;
  margin-left: 8px;
  color: var(--error-color);
}

@include mixins.tablet {
  .form {
    width: 100%;
  }
}