@use "../mixins";

.form {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

.textArea {
  resize: vertical;
}

.submit {
  margin: 16px 0;
}

@include mixins.tablet {
  .form {
    width: 100%;
  }
}