@use "./mixins";

.background {
  width: 100%;
  background-color: var(--background);
}

.main {
  max-width: 1142px;
  margin: auto;
}

@include mixins.tablet {
  .background {
    background-color: var(--main-color);
    color: white;
  }
}
