@use "./mixins";

.container {
  width: 35%;
  padding: 32px;
  margin: 32px;
  display: flex;
  border: double 3px;
  border-radius: var(--border-radius);
  text-align: right;
}

.icon {
  margin-right: 16px;
  border-radius: 100px;
}

.detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.name {
  font-size: x-large;
}

.description {
  flex-grow: 1;
}

.link {
  display: flex;
  justify-content: flex-end;
}

.snsMargin {
  margin-left: 8px;
}

@include mixins.tablet {
  .container {
    padding: 8px;
    width: 100%;
    margin: 8px 0;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .icon {
    margin-right: 0;
  }
  
  .link {
    justify-content: center;
  }

  .snsMargin {
    margin: 4px;
  }
}