@use "./mixins";

.headlines {
  display: flex;
  flex-direction: column;
  font-size: x-large;

  :first-child {
    font-size: xx-large;
  }
}

.products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;

  .description {
    text-align: right;
    flex-basis: 50%;
    margin-right: 16px;
  }

  .image {
    flex-basis: 50%;
    margin-left: 16px;
  }

  .shordDescription {
    display: none;
  }
}

@include mixins.tablet {
  .products {
    flex-direction: column;

    .description {
      display: none;
    }

    .image {
      margin: 0;

      > img {
        height: 200px;
        object-fit: cover;
      }
    }

    .shortDescription {
      display: block;
      text-align: right;
      font-size: small;
      width: 100%;
    }
  }
}