@use "./mixins";

.container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoContainer {
  display: none;
}

@include mixins.tablet {
  .container {
    background-color: var(--main-color);
  }

  .logoContainer {
    display: block;
    margin: auto;
  }
}